
body{
    
    background: url("../img/FUNDO.jpg") fixed no-repeat;
    background-size: 100%;
    background-position: top;
    font-family: 'Raleway', sans-serif;

}

.principal{

    color: #FFF;

    text-transform: uppercase;
    text-align: center;
    font-size: 4em;

}

.principal h1 a{
    
    text-decoration: none;
    color: #FFF;
}
.principal h1{

    padding-top: 0.5em;
    letter-spacing: 0.5em;
}

.subtitulo-principal{

    letter-spacing: 0.5em;
    text-align: center;
    font-size: 0.3em;
    margin: 0.2em;
    padding-right: 0.8em;
}

header{

    position: relative;
}

.menu-principal{

    padding: 0;
}
.menu-principal li{

    text-transform: uppercase;
    margin-right: 5em;
    font-size: 0.3em;
    display: inline;
    font-family: 'Montserrat', sans-serif;
}

.menu-principal li:last-child{

    margin-right: 0;
}

.menu-principal li a:hover, .menu-principal li a:focus{

    color: #FFF;

}
.menu-principal a{

    text-decoration: none;
    color: gray;
}

.icones-redes-sociais li {
	display: inline-block;
}

.icones-redes-sociais a{
    display: inline-block;
    width: 32px;
    height: 32px;
    text-indent: -9999px;

}

.facebook{

    background-image: url(../img/facebook.png);
}

.twitter{

    background-image: url(../img/twitter.png);
}

.instagram{

    background-image: url(../img/instagram.png);
}

.icones-redes-sociais{

    position: absolute;
    top: .2em;
    right: 0;
}

.container{

    width: 940px;
    margin: 0 auto;
}

.main .noticias{

    margin-top: 20px;
}
.main .sobre{

    margin: 20px auto;
    background-color: rgba(242, 242, 242, 0.7);
    box-shadow: 0 5px 15px black;
}

.noticias{

    overflow: hidden;
    height: 435px;
}

.menu-noticias{

    float: right;
    padding: 1em;
    font-size: .9em;
    box-sizing: border-box;
    margin-left: 1%; 
    width: 29%;
    height: inherit;
    border-radius: 5px;
    font-family: Verdana, Geneva, sans-serif;
    background-color: rgba(38,12,12,.3);


}

.menu-noticias li{

    padding: .65em 0;
    background-image: linear-gradient(to right, 
        gray, 
        gray, 
        gray
    );
    background-size: 100% 1px;
    background-repeat: no-repeat;
    /* trocamos "bottom center" por "top center" */
    background-position: bottom center;
    
}

.menu-noticias li:last-child{
    text-align: right;
    padding-bottom: 0;
    background-image: none;
}

.menu-noticias li a{

    color: lightgray;
    text-decoration: none;
    
}

.menu-noticias li a:hover, .menu-noticias li a:focus{

    color: #FFF;
    text-shadow: 0 0 .1em #FA9;
}

.noticia-principal{

    overflow: hidden;
    width: 70%;
    height: 100%;
    position: relative;
}
.noticia-principal h2{

    position: absolute;
    opacity: 0;
    bottom: 0;
    padding: 0 2em;
    z-index: 2;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all .3s ease-in;
    color: #FFF;
    text-shadow: 1px 1px 3px rgba(0, 0, 0,0.2);
    font-size: 1.7em;
}
.box-black {
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    background-color: #000;
    transition: all 0.5s ease-in;
}
.slider{

    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}


.slider li {
    list-style: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider input{

    display: none;
}

.slider label {
     background-color: #F2F2F2;
     bottom: 10px;
     cursor: pointer;
     display: block;
     height: 10px;
     position: absolute;
     width: 10px;
     z-index: 10;
 }
    
.slider li:nth-child(1) label {
     left: 10px;
 }

 .slider li:nth-child(2) label {
     left: 40px;
 }


 .slider img {
     opacity: 0;
     visibility: hidden;
     margin: auto;
     height: 100%;
     width: 100%;
     vertical-align: top;

    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s; 
    max-width: 100%;
 }

 .slider figcaption h2{

    visibility: hidden;
 }
 .slider li input:checked ~ img {
     opacity: 1;
     visibility: visible;
 } 
 
 .slider li input:checked ~ label {
    
    background-color: rgb(97, 95, 95);
 } 

 .slider li input:checked ~ figcaption h2{
    
        -moz-transition-delay: .3s;
        -webkit-transition-delay: .3s;
        transition-delay: .3s;

        visibility: visible;
 } 


.noticia-principal:hover .slider img,
.noticia-principal:focus .slider img{   

    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.noticia-principal:hover .box-black,
.noticia-principal:focus .box-black{

    opacity: 0.7;
    height: 30%
}

.noticia-principal:hover .slider h2,
.noticia-principal:focus .slider h2{

    opacity: 1;
    bottom: 1em;
}

strong{

    font-weight: bold;
}
.sobre h2{

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;

    padding: 7% 0;
    background-image: linear-gradient(to right, 
        rgba(0,0,0,0), 
        rgba(0,0,0,1), 
        rgba(0,0,0,0)
    );
    background-size: 100% 1px;
    background-repeat: no-repeat;
    /* trocamos "bottom center" por "top center" */
    background-position: bottom center;
}

.sobre p{

    text-indent: 2em;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    
}

.criadores{

    float: right;
    clear: both;
}

.Jonas{

    float: left;
    clear: both;
}

.personagens{

    float: right;
    clear: both;
}

.imagem-sobre{

    margin: 0 1em;
    overflow: hidden;
    position: relative;

    border-radius: 5%;
}

.imagem-sobre figcaption{

    position: absolute;
    padding: 0 2em;
    bottom: 1em;
    z-index: 2;

    color: #FFF;
}

.imagem-sobre img{

    width: 350px;
    transition: 1s;
}
.imagem-sobre:hover img{

    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.imagem-sobre:hover .box-black{

    opacity: 0.7;
    height: 30%
}

.sobre section{

    padding: 7% 10%;
    background-image: linear-gradient(to right, 
        rgba(0,0,0,0), 
        rgba(0,0,0,1), 
        rgba(0,0,0,0)
    );
    background-size: 100% 0.3%;
    background-repeat: no-repeat;
    /* trocamos "bottom center" por "top center" */
    background-position: bottom center;
}
.rodape-pagina{

    color: #FFF;
    padding: 3em;
    clear: both;
}